<html>
    <body>
        <center>
            <h1> Combined Cycle Power Plant Prediction Page </h1><hr><hr>
            <br><br><br>
            <form action='/predict' method='post'>
               
                AT: <input type='text' name='AT'><br><br>
                V:  <input type='text' name='V'><br><br>
                AP: <input type='text' name='AP'><br><br>
                RH: <input type='text' name='RH'><br><br>
                <input type='submit' value='Submit'>
            </form>
            <br><br><br>
            <hr><p>Designed by ABC Inc.</p><hr>
        </center>
    </body>
</html>