<html>
    <body>
        <center>
            <h1> Combined Cycle Power Plant Prediction Page </h1><hr><hr>
            <br><br><br>
            <table border=2>
                {% for key,value in data.items()%}
                <tr>
                    <th>{{key}}</th>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>
            
            <br><br>
            <a href="http://127.0.0.1:5000/"><button> Go Back </button></a>
            
            <br><br><br>
            <hr><p>Designed by ABC Inc.</p><hr>
        </center>
    </body>
</html>