<html>
    <body>
        <center>
            <h1> Banking customer churn prediction</h1>
            <br><br><br><br>
            <form action='/predict' method='post'>
                Age:<input type='text' name='age'><br><br>
                Gender: <input type='text' name='gen'><br><br>
                Geography: <input type='text' name='geo'><br><br>
                Balance: <input type='text' name='bal'><br><br>
                Numofproducts: <input type='text' name='nop'><br><br>
                IsActivemmember: <input type='text' name='iam'><br><br>
                CreditScore: <input type='text' name='cs'><br><br>
                <input type='submit' value='submit'><br><br>
            </form>
        </center>
    </body>
</html>