<html>
    <body>
        <center>
            <h1> Combined Cycle Power Plant Estimated Electricity Prediction App</h1>
            <hr><hr>
            <br><br><br><br><br><br>
            <form method="post" action="/predict">
                AT: <input type="text" name="at"><br><br>
                V: <input type="text" name="v"><br><br>
                AP: <input type="text" name="ap"><br><br>
                RH: <input type="text" name="rh"><br><br>
                <input type="submit" value="submit"><br><br>
            </form>
            <br><br>
            <hr><p>Designed by ABC</p><hr>
        </center>
    </body>
</html>